table {
  width: 400px;
  height: 300px;
  padding: 50px;
  text-align: center;
  margin: 50px auto 50px auto;
}
#container {
  text-align: center;
  margin-top: 100px;
}
.square {
  width: 150px;
  height: 150px;
  border: 5px solid #000;
  font-size: 25px;
}
.topleft {
  border-top: none;
  border-left: none;
}
.topmid {
  border-top: none;
}
.topright {
  border-top: none;
  border-right: none;
}
.midleft {
  border-left: none;
}
.midright {
  border-right: none;
}
.btleft {
  border-left: none;
  border-bottom: none;
}
.btmid {
  border-bottom: none;
}
.btright {
  border-right: none;
  border-bottom: none;
}
